{{ form_start(form) }}
<div class="row">
    <div class="col-lg-2">
        {{ form_label(form.player1name) }}
    </div>
    <div class="col-lg-10">
        {{ form_widget(form.player1name) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {{ form_widget(form.player1external) }}
        {{ form_label(form.player1external) }}
    </div>
</div>
<div class="row" id="wrapper1">
    <div class="col-lg-2">
        {{ form_label(form.player1number) }}
    </div>
    <div class="col-lg-10">
        {{ form_widget(form.player1number) }}
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-2">
        {{ form_label(form.player2name) }}
    </div>
    <div class="col-lg-10">
        {{ form_widget(form.player2name) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {{ form_widget(form.player2external) }}
        {{ form_label(form.player2external) }}
    </div>
</div>
<div class="row" id="wrapper2">
    <div class="col-lg-2">
        {{ form_label(form.player2number) }}
    </div>
    <div class="col-lg-10">
        {{ form_widget(form.player2number) }}
    </div>
</div>
<button class="btn btn-md btn-success"><i class="fa fa-glass-cheers"></i> {{ button_label|default('Anmelden') }}
</button>
{{ form_end(form) }}
